@font-face { 
  font-family: 'AmazingGrotesk-UltraItalic'; 
  src: url('/fonts/AmazingGrotesk-UltraItalic.woff2') format('woff2'),
         url('/fonts/AmazingGrotesk-UltraItalic.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-Black'; 
  src: url('/fonts/Bender-Black.woff2') format('woff2'),
         url('/fonts/Bender-Black.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-BlackItalic'; 
  src: url('/fonts/Bender-BlackItalic.woff2') format('woff2'),
         url('/fonts/Bender-BlackItalic.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-Bold'; 
  src: url('/fonts/Bender-Bold.woff2') format('woff2'),
         url('/fonts/Bender-Bold.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-BoldItalic'; 
  src: url('/fonts/Bender-BoldItalic.woff2') format('woff2'),
         url('/fonts/Bender-BoldItalic.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-Italic'; 
  src: url('/fonts/Bender-Italic.woff2') format('woff2'),
         url('/fonts/Bender-Italic.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender-Light'; 
  src: url('/fonts/Bender-Light.woff2') format('woff2'),
         url('/fonts/Bender-Light.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Bender'; 
  src: url('/fonts/Bender.woff2') format('woff2'),
         url('/fonts/Bender.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face { 
  font-family: 'rodchenko'; 
  src: url('/fonts/rodchenko.woff2') format('woff2'),
         url('/fonts/rodchenko.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
