.form_body { width: 254px; font-size: 14px; display: block; background: #EEE; border-radius: 10px; padding: 10px; border: 1px dashed #CACACA; }
.send_form { padding: 0; margin: 0; }
.form_title { font-size: 18px; text-align: center; font-weight: bold; }
.form_body input, .form_body textarea, .form_body select { width: 250px; margin: 0; padding: 2px 0; font-size: 13px; line-height: 18px; }
.form_body .radio, .form_body .checkbox { width: 18px; } 
.progress { position:relative; width:250px; border: 1px solid #9E9E9E; padding: 1px; margin: 5px 0; border-radius: 3px; }
.bar { background-color: #95F895; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:45%; }
.send_form .sub_form { width: 254px; margin: 5px 0; padding: 3px 0; font-size: 13px; }
.status { font-size: 14px; padding: 3px 0; font-weight: bold; }
.error { background: #FDDCDC; padding: 0; }


/* стилизация radio */
body:not(#Foo) input[type="radio"] {
display: none}
body:not(#Foo) label font {
padding-left: 15px;
height: 15px}
body:not(#Foo) input[type="radio"] + font {
background: url(/send_form/radio-off.png) no-repeat 0 0}
body:not(#Foo) input[type=radio] + font:hover {
background:url(/send_form/radio-cn.png) no-repeat 0 0}
body:not(#Foo) input[type="radio"]:checked + font {
background: url(/send_form/radio-on.png) no-repeat 0 0}

/* стилизация checkbox */
body:not(#Foo) input[type="checkbox"] {
display: none}
body:not(#Foo) label font {
padding-left: 15px;
height: 15px}
body:not(#Foo) input[type="checkbox"] + font {
background: url(/send_form/checkbox-off.png) no-repeat 0 0}
body:not(#Foo) input[type=checkbox] + font:hover {
background:url(/send_form/checkbox-cn.png) no-repeat 0 0}
body:not(#Foo) input[type="checkbox"]:checked + font {
background: url(/send_form/checkbox-on.png) no-repeat 0 0}